.modal-header{
    flex-direction: row;
    /* justify-content: center; */
    width: 100%;
    background-color: rgb(245,197,24);
    border-bottom: 2px solid black;
}
.modal-body {
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color:  rgb(245,197,24);
    gap: 50px;
}
.modal-image{
    display: flex;
    max-height: 400px;
    max-width: 200px;
}
.modal-image > img{
    object-fit: cover;
    object-position: center;
    border: 2px solid black;
    border-radius: 10px;
    height: 500px;
    width: 300px;
}
.modal-footer{
    background-color:  rgb(245,197,24);
    border-top: 2px solid black;
}
.btn-close {
    color: black;
}
.plot-cast-div{
    display: flex;
    flex-direction: column;
    font-size: 26px;
}
.plot-cast-div > p {
    /* display: flex;
    flex-direction: column; */
    border: 2px solid black;
    width: 500px;
    padding: 20px;
}
.modal-title {
    font-size: 30px;
    font-weight: 700;
}
@media only screen and (max-width: 600px) {
    .modal-header {
        width: 100%;
    }
    .modal-body {
        width: 100%;
        flex-direction: column-reverse;
    }
    .modal-image {
        width: 80%;
    }
    .modal-image > img {
        height: 300px;
        width: 100%;
    }
    .plot-cast-div {
        width: 70%;
        margin-bottom: 250px;
        gap: 30px;
    }
    .plot-cast-div > p {
        width: 100%;
        height: 250px;
        overflow-y: scroll;
    }
}
